body {
  font-family: sans-serif;
  color: #333;
  background-color: #deefff;
  background-image: linear-gradient(to bottom, #deefff, #98bede);
  height: 100vh;
  text-align: center;
  padding-top: 2em;
  box-sizing: border-box;
  margin: 0;
}
